---
import { Image } from "astro:assets";
import Icon from "../components/Icon";
import Layout from "../layouts/Layout.astro";
import projectsData from "../data/projects.ts";
import Footer from "src/components/Footer.astro";

export function getStaticPaths() {
    return projectsData;
}

const { title, desc, technologies, about, imgData, link, github } = Astro.props;
---

<Layout title={title}>
    <div>
        <div class="mb-8">
            <a
                class="border border-black px-4 py-2 transition-colors ease-in hover:bg-teal-700 hover:text-white"
                href="/#projects"
                transition:name="#projects">← Back to Projects</a
            >
        </div>
        <h1 transition:name="title" class="mb-4 text-2xl font-bold">
            {title}
        </h1>
        <Image
            transition:name="image"
            src={imgData}
            alt={desc}
            class="mb-4 border border-black"
        />
        <div>
            <div class="mb-6">
                <h2 class="mb-4 text-lg font-semibold">Technologies</h2>
                <div class="flex flex-wrap gap-x-6 gap-y-2">
                    {technologies.map((tech) => <Icon title={tech} />)}
                </div>
            </div>

            <div class="mb-8">
                <h2 class="mb-4 text-lg font-semibold">Links</h2>
                <div>
                    {
                        link && (
                            <a
                                href={link}
                                target="_blank"
                                class="me-4 border border-black px-4 py-2 transition-colors ease-in hover:bg-teal-700 hover:text-white"
                            >
                                Website
                            </a>
                        )
                    }
                    <a
                        href={github}
                        target="_blank"
                        class="border border-black px-4 py-2 transition-colors ease-in hover:bg-teal-700 hover:text-white"
                        >Github</a
                    >
                </div>
            </div>

            <div>
                <h2 class="mb-4 text-lg font-semibold">About</h2>
                <p class="indent-5">{about}</p>
            </div>
        </div>
    </div>
    <Footer />
</Layout>
